/* =====Body===== */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

main {
    max-width: 1440px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.background_top {
    margin: 0;
    background: url(../images/Travel_background.jpg) no-repeat center;
    background-size: cover;
    height: 765px;
    margin-bottom: 80px;
}

/* =====Header start===== */
.header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);  
    margin-bottom: 32px;           
}

.container {
    max-width: 1200px;
        
    margin: 0 auto;
    padding: 0 16px;
}

.header__inner {
    display: flex;
    align-items: center;
    height: 90px;
}

/* =====nav start===== */
.header__nav {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    margin: 0 auto;
}

.header__nav__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    gap: 42px;
}

.header__nav__item {
    padding: 0;
    list-style: none;
} 

.header__nav__item-hint {
    display: none;
}

.header__nav__link {
    color: #fff;
    text-decoration: none;
}

.header__nav__link:first-child {
    margin-left: 0;
}

.header__nav__link:hover, .header__nav__link:focus, .header__nav__link:active {
    opacity: 0.75;
    text-decoration: underline;
    transition: opacity 0.1s linear;
}

/* =====nav end===== */

/* =====Header end===== */

/* =====Button start===== */
.button__login {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    font-size: 16px;
    line-height: 21px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}

.button--color {
    background-color: #0D606F;
    border: none;
}

.button--short {
    padding: 10px 30px;
}

.button--long {
    padding: 13.5px 32.5px;
}

.button--text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 32px;
}

.button__preview {
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    white-space: nowrap;
} 

.button--color:hover, .button--color:focus, .button--color:active {
    cursor: pointer;
    background-color: #13889c;
    transition: background-color 0.1s linear;
}

.button__destinations {
    display: block;
    margin: 0 auto;
    padding: 13.5px 31px 13.5px 81px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    background-image: url(../images/destinations/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 15%;
}

.button__destinations:hover, .button__destinations:focus, .button__destinations:active {
    background-image: url(../images/destinations/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 20%; 
}

/* =====Button end===== */


/* =====Preview start===== */

.preview__inner {
    max-width: 74.33%;
    height: 422px;

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.preview__title {
    font-size: 80px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 32px;
}

.preview__subtitle {
    font-style: italic;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 46px;
}

.preview__search {
    display: inline-flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;

    width: 100%;

    padding: 18px 18px 18px 41px;

}

.preview__search__input {
    border: none;
    outline: none;

    background: transparent;

    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;

    width: 100%;

}

.preview__search__input::placeholder {
    color: #F2785C;
}

/* =====Preview end===== */

/* =====Steps start===== */
.steps {
    margin-bottom: 97px;
}

.title {
    margin: 0;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;  
    color: #F2785C;
    text-align: center;  
}

.steps__title {
    margin-bottom: 40px;
}

.steps__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 98%;
    margin: 0 auto;
}

.steps__item {
    text-align: center;
    position: relative;
}    

.steps__icon {
    background-color: #F2785C;
    border-radius: 16px;
    padding: 28px 25px;
    margin-bottom: 30px;
}

.steps__text {
    margin: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #0D606F;
} 

.steps__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.steps__item:hover .steps__icon {
    transform: scale(1.1);
    opacity: 0.85;
    transition: all 0.1s linear;
}

/* =====Steps end===== */


/* =====Destinations start===== */
.destinations {
    text-align: center;
    margin-bottom: 173px;
}

.destinations__title {
    margin-bottom: 46px;
}

.destinations__slider {
    width: 100%;
    overflow: hidden; 
    margin-bottom: 24px;
}

.destinations__container {
    position: relative;
    left: -37.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

.destinations__item {
    position: relative;
    padding: 0;
    margin: 0 auto;
}


.destinations__item__image {
    border-radius: 16px;
    object-fit: cover;
}

.destinations__item__title {
    position: absolute;
    left: 15px;
    bottom: 40px;
    margin: 0;
    padding: 0;
    
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.destinations__circles {
    margin-bottom: 40px;
}

/* =====Destinations end===== */

/* =====Stories start===== */

.stories__title {
   margin-top: -93px; 
   margin-bottom: 40px;
}

.background__bottom {
    margin: 0;
    background: url(../images/background.jpg) no-repeat center;
    background-size: cover;
}

.stories__container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7);
    padding: 40px 0;
}

.stories__inner {
    display: flex;
    margin-bottom: 30px;
}

.stories__inner:last-of-type {
    margin-bottom: 40px;
}

.stories__image {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
}

.stories__image:hover {
    transform: scale(1.05);
    transition: all 0.1s linear;
}

.stories__description {
    padding: 0 5px 0 40px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.stories__description__title {
    margin: 0;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 24px;
}

.stories__description__text {
    margin: 0;
}

.stories__description__link {
    color: #0D606F;
}

/* =====Stories end===== */

/* =====Footer start===== */

.footer__container {
    display: flex;
    width: 100%;
}

.footer__copyright {
    width: 100%;
    margin: 0 0 0 11.75%;
    text-align: center;
    padding: 20px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.footer__social {
    width: 15.5%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social__item {
    display: flex;
}

.footer__social__link {
    display: flex;
    text-decoration: none;
}

.footer__social__link:hover {
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

/* =====Footer end===== */

/* =====Media start===== */

.burger__menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 32px;
    padding: 8px 4.37px;
    border: 0;
}

.burger__menu__line {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

@media (max-width: 1090px) {
    .preview__title {
        font-size: 70px;
    }

    .preview__subtitle {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .background_top {
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url(../images/Travel_background.jpg) no-repeat center;
    }

    .header {
        background-color: transparent;
        box-shadow: none;
        padding-top: 0;
    }

    .header__inner {
        height: 75px;
        padding-top: 45px;
        justify-content: space-between;
    }
    
    .header__logo__name {
        display: none;
    }

    .header__nav {
        width: 165px;
        height: 250px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #F2785C;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        z-index: 10;
        padding: 44px 15px 30px 44px;
        transform: translateX(100%);
        transition: all 0.2s linear;
    }

    .header__nav__active {
        transform: translateX(0);
    }

    .header__nav__inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: right;
    }

    .header__nav__item {
        width: 100%;
     }

    .header__nav__item-hint {
        display: block;
    }

    .header__nav__link {
        font-size: 16px;
        line-height: 21px;
    }

    .header__nav__close {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 11px;
    }

    .header__nav__close__line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav__close__line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav__close__line:last-child {
        transform: translateY(-50%) rotate(-45deg); 
    }

    .button__login {
        display: none;
    }

    .burger__menu {
        display: flex;
    }


    .preview__title {
        font-size: 63px;
    }

    .preview__subtitle {
        font-size: 15px;
    }

   
}

@media (max-width: 870px) {
    .preview__title {
        font-size: 55px;
    }

    .preview__subtitle {
        display: none;
    }

    .preview__search {
        padding: 9px 9px 9px 16px;
    }

    .preview__search__input {
        font-size: 20px;
        line-height: 1.2;
    }

    .button__preview {
        font-size: 20px;
        line-height: 1.2;
    }

    .button--long {
        padding: 7.5px 9px;
    }
}

@media (max-width: 767px) {
    .preview__inner {
        max-width: 100%;
    }
}

@media (max-width: 570px) {
    .header {
        margin-bottom: 67px;
    }

    .preview__title {
        display: none;
    }

    .preview__search__input {
        font-size: 16px;
        line-height: 1.2;
    }

    .button__preview {
        font-size: 18px;
        line-height: 1.2;
    }
}

@media (max-width: 440px) {
    .preview__search__input {
        font-size: 14px;
        line-height: 1.2;
    }

    .button__preview {
        font-size: 11px;
        line-height: 15px;
    }
}

@media (max-width: 390px) {
    .background_top {
    background: url(../images/mobile/background-mobile.jpg) no-repeat center;
       margin-bottom: 80px;
    }
}

/* =====Media end===== */