/* =====Body===== */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

main {
    max-width: 1440px;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.background_top {
    margin: 0;
    background: url(../images/Travel_background.jpg) no-repeat center;
    background-size: cover;
    /* height: 765px; */
    height: calc( (100vw - 390px)/(1050) * (514) + 251px);
    margin-bottom: 5.55555%;
}

/* =====Header start===== */
.header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);  
    margin-bottom: 2.22222%;           
}

.container {
    max-width: 1200px;
        
    margin: 0 auto;
    padding: 0 15px;
}

.container-full {
    max-width: 1230px;
        
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    align-items: center;
    /* height: 90px; */
    padding: 2.14% 0;
}

.header__logo__name {
    width: calc((100vw - 390px)/(1050) * (74) + 106px);
}

/* =====nav start===== */
.header__nav {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    /* font-size: 16px; */
    /* line-height: 21px; */
    font-size: calc((100vw - 390px)/(1050) * (6) + 10px);
    line-height: 1.3125;
    margin: 0 auto; 
}

.header__nav__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    column-gap: 42px;    
}

.header__nav__item {
    padding: 0;
    list-style: none;
} 

.header__nav__item-hint {
    display: none;
}

.header__nav__link {
    color: #fff;
    text-decoration: none;
}

.header__nav__link:first-child {
    margin-left: 0;
}

.header__nav__link:hover, .header__nav__link:focus, .header__nav__link:active {
    opacity: 0.75;
    text-decoration: underline;
    transition: opacity 0.1s linear;
}

/* =====nav end===== */

/* =====Header end===== */

/* =====Button start===== */
.button__login {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    /* font-size: 16px; */
    /* line-height: 21px; */
    font-size: calc((100vw - 390px)/(1050) * (6) + 10px);
    line-height: 1.3125;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}

.button--color {
    background-color: #0D606F;
    border: none;
}

.button--short {
    /* padding: 10px 30px; */
    padding: 0.85% 2.56%;
}

.button--long {
    /* padding: 13.5px 32.5px; */
    padding: 1.66667% 4%;
}

.button--text {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    /* font-size: 24px; */
    /* line-height: 32px; */
    font-size: calc( (100vw - 390px)/(1050) * (13) + 11px);
    line-height: 1.33333;
}

.button__preview {
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;

    white-space: nowrap;
    padding-top: calc( (100vw - 390px)/(1050) * (6) + 7.5px);
    padding-bottom: calc( (100vw - 390px)/(1050) * (6) + 7.5px);
    padding-left: calc( (100vw - 390px)/(1050) * (23.5) + 9px);
    padding-right: calc( (100vw - 390px)/(1050) * (23.5) + 9px);
} 

.button--color:hover, .button--color:focus, .button--color:active {
    cursor: pointer;
    background-color: #13889c;
    transition: background-color 0.1s linear;
}

.button__destinations {
    display: block;
    margin: 0 auto;
    /* padding: 13.5px 31px 13.5px 81px; */
    padding: 1.153% 2.65% 1.153% 6.923%;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    background-image: url(../images/destinations/arrow-right.svg);
    background-size: 17%;
    background-repeat: no-repeat;
    background-position: 17%;
}

.button__destinations:hover, .button__destinations:focus, .button__destinations:active {
    background-image: url(../images/destinations/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 19%; 
}

/* =====Button end===== */


/* =====Preview start===== */

.preview__inner {
    max-width: 74.33%;
    /* height: 422px; */

    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.preview__title {
    /* font-size: 80px; */
    font-size: calc( (100vw - 390px)/(1050) * (52) + 28px);
    line-height: 1.2;
    margin: 0;
    /* margin-bottom: 32px; */
    margin-bottom: 3.678%;
}

.preview__subtitle {
    font-style: italic;
    /* font-size: 20px; */
    font-size: calc( (100vw - 390px)/(1050) * (13) + 7px);
    line-height: 1.2;
    margin: 0;
    /* margin-bottom: 46px; */
    margin-bottom: 5.287%;
}

.preview__search {
    display: inline-flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;

    width: 100%;

    /* padding: 18px 18px 18px 41px; */
    padding: 2.07% 2.07% 2.07% 4.713%;

}

.preview__search__input {
    border: none;
    outline: none;

    background: transparent;

    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    /* font-size: 24px; */
    /* line-height: 29px; */
    font-size: calc( (100vw - 390px)/(1050) * (10) + 14px);
    line-height: 1.2;
    color: #F2785C;

    width: 100%;

}

.preview__search__input::placeholder {
    color: #F2785C;
}

/* =====Preview end===== */

/* =====Steps start===== */
.steps {
    /* margin-bottom: 97px; */
    /* margin-bottom: 6.736%; */
    margin-bottom: calc( (100vw - 390px)/(1050) * (77) + 20px);
}

.title {
    margin: 0;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    /* font-size: 40px; */
    font-size: calc( (100vw - 390px)/(1050) * (26) + 14px);;
    line-height: 1.325;  
    color: #F2785C;
    text-align: center;  
}

.steps__title {
    /* margin-bottom: 40px; */
    margin-bottom: calc( (100vw - 390px)/(1050) * (20) + 20px);
}

.steps__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* width: 100%; */
    margin: 0 auto;
}

.steps__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* width: 33.33333%; */
}    

/* .steps__icon {
    background-color: #F2785C;
    border-radius: 16px;
    padding: 28px 25px; 
    padding: 10.81%;
    margin: 0 auto;
    margin-bottom: 30px;
} */

.steps__icon {
    width: calc((100vw - 390px)/(1050) * (30) + 70px);
    /* height: 100px; */
    margin: 0 auto;
    margin-bottom: calc( (100vw - 390px)/(1050) * (10) + 20px);
}

/* .steps__icon-first {
    padding: 10.975% 10%;
} */

/* .steps__icon-last {
    padding: 8.5443% 6.32911%;
} */

.steps__text {
    margin: 0;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    /* line-height: 24px; */
    font-size: calc((100vw - 390px)/(1050) * (10) + 10px);

    color: #0D606F;
} 

.steps__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.steps__item:hover .steps__icon {
    transform: scale(1.1);
    opacity: 0.85;
    transition: all 0.1s linear;
}

/* =====Steps end===== */


/* =====Destinations start===== */
.destinations {
    text-align: center;
    /* margin-bottom: 173px; */
    margin-bottom: 5.55555%;
}

.destinations__title {
    /* margin-bottom: 46px; */
    /* margin-bottom: 3.19444%; */
    margin-bottom: calc( (100vw - 390px)/(1050) * (26) + 20px);
}

.destinations__slider {
    position: relative;
    width: 100%;
    /* margin-bottom: 24px; */
    overflow: hidden; 
}

.destinations__container {
    position: relative;
    left: -37.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 4.1666%;
    margin-bottom: 1.66667%;
}

.destinations__item {
    width: 55.55555%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}


.destinations__item__image {
    width: 100%; 
    height: 100%; 
    border-radius: 16px;
    object-fit: cover;
}

.destinations__item__title {
    position: absolute;
    left: 1.875%;
    bottom: 5%;
    margin: 0;
    padding: 0;
    
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    /* font-size: 32px; */
    /* line-height: 42px; */
    font-size: calc((100vw - 390px)/(1050) * (12) + 20px);
    line-height: 1.3125;
    text-transform: uppercase;

    color: #FFFFFF;
}

.destinations__arrow {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.destinations__arrow-left {
    left: 26px;
}

.destinations__arrow-right {
    right: 26px;
}

.destinations__circles {
    /* margin-bottom: 40px; */
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 2.77778%;
}

.destinations__circles__image {
    width: calc( (100vw - 390px)/(1050) * (22) + 8px);
}

/* =====Destinations end===== */

/* =====Stories start===== */

.stories__title {
   /* margin-top: -93px;  */
   /* margin-bottom: 40px; */
   margin-bottom: 2.77778%;
}

.background__bottom {
    margin: 0;
    /* height: calc( (100vw - 390px)/(1050) * (577) + 693px); */
    background-image: url(../images/background.jpg);
    /* background-position: 0 -152%; */
    background-position-y: calc( (100vw - 390px)/(1050) * (64) + 29px);
    background-repeat: no-repeat;
}

.stories__container {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7);
    /* padding: 40px 0; */
    padding: 2.77778% 0;
}

.stories__inner {
    display: flex;
    /* margin-bottom: 30px; */
    margin-bottom: calc( (100vw - 390px)/(1050) * (15) + 15px);
}

.stories__inner:last-of-type {
    /* margin-bottom: 40px; */
    margin-bottom: 3.33333%;
}

.stories__image {
    filter: drop-shadow(0px 4px 4px #0D606F);
    width: calc( (100vw - 390px)/(1050) * (245) + 155px);
    height: calc( (100vw - 390px)/(1050) * (120) + 130px);
    /* min-height: 130px; */
    object-fit: cover;
    border-radius: 16px;
}

.stories__image:hover {
    transform: scale(1.05);
    transition: all 0.1s linear;
}

.stories__description {
    /* padding-left: 40px; */
    padding-left: 3.33333%;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    font-size: calc( (100vw - 390px)/(1050) * (11) + 9px);
    line-height: 1.2;
    color: #0D606F;

    display: flex;
    flex-direction: column;
}

.stories__description__title {
    margin: 0;
    font-weight: 400;
    /* font-size: 35px; */
    font-size: calc( (100vw - 390px)/(1050) * (24) + 11px);
    line-height: 1.2;
    /* margin-bottom: 24px; */
    margin-bottom: 3.31034%;
}

.stories__description__text {
    margin: 0;
}

.stories__description__link {
    color: #0D606F;
}

/* =====Stories end===== */

/* =====Footer start===== */

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__rsschool {
    width: 25%;
}

.footer__copyright {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    /* padding: 20px; */
    padding: 1.66667%;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.footer__social {
    width: 25%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 9%;
}

.footer__social__item {
    display: flex;
}

.footer__social__link {
    display: flex;
    text-decoration: none;
}

.footer__social__link:hover {
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

/* =====Footer end===== */

/* =====Media start===== */

.burger__menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 32px;
    padding: 8px 4.37px;
    border: 0;
}

.burger__menu__line {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

@media (max-width: 870px) {
    .header__logo__name {
        display: none;
    }

    .preview__subtitle {
        display: none;
    }
} 

@media (max-width: 767px) {
    .header__nav__inner {
        column-gap: 20px;
    }

    .preview__inner {
        max-width: 100%;
    }
    
    /* .stories__description {
        padding-left: 10px;
        padding-right: 0;
    } */

    .steps__item:first-of-type {
        /* margin: 0; */
        text-align: left;
        width: 27%; 
    }

    .steps__item:last-of-type {
        /* margin: 0; */
        text-align: right;
        /* flex-shrink: 0; */
        width: 27%; 
    }

    .steps__icon-first {
        margin-left: 0;
    }

    .steps__icon-last {
        margin-right: 0;
    }
} 

@media (max-width: 570px) {
    .footer__copyright {
        display: none;
    }

    .footer__rsschool {
        display: none;
    }

    .footer__social {
        width: 100%;
        column-gap: 24px;
        padding: 21px 0;
        justify-content: center;
    }
}
 
@media (max-width: 440px) {
    .destinations__container {
        left: 0;
        padding: 0 15px;
        column-gap: 15px;
    }

    .destinations__item {
        width: 100%;
        height: calc((100vw - 390px)/(1050) * (590) + 210px);
    }

    .destinations__item__title {
        left: 4.166667%;
        top: 3.8%;
    }

    .destinations__arrow {
        display: flex;
    }

    .destinations__circles {
        position: absolute;
        left: 50%; 
        transform: translateX(-50%); 
        bottom: 12px;
        z-index: 5;
    }

} 

@media (max-width: 390px) {
    .background_top {
        /* height: 251px; */
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), url(../images/mobile/background-mobile.jpg) no-repeat center;
    }

    .header {
        background-color: transparent;
        box-shadow: none;
        padding-top: 0;
        margin-bottom: 67px;
    }

    .button__login {
        display: none;
    }

     .burger__menu {
        display: flex;
    } 

    .header__inner {
        height: 75px;
        padding-top: 43px;
        justify-content: space-between;
    }
    
    .header__nav {
        width: 165px;
        height: 250px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #F2785C;
        box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
        border-radius: 10px;
        z-index: 10;
        padding: 44px 15px 30px 44px;
        transform: translateX(100%);   
        transition: all 0.2s linear;
    }

    .header__nav__active {
        transform: translateX(0);
    }

    .header__nav__inner {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        text-align: right;
    }

    .header__nav__item {
        width: 100%;
     }

    .header__nav__item-hint {
        display: block;
    }

    .header__nav__link {
        font-size: 16px;
        /* line-height: 21px; */
    }

    .header__nav__close {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 11px;
    }

    .header__nav__close__line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav__close__line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav__close__line:last-child {
        transform: translateY(-50%) rotate(-45deg); 
    }

    .preview__title {
        display: none;
    }
  
    .button__destinations {
        background-image: url(../images/mobile/arrow-right.svg);
        padding: 7.5px 12px 7.5px 28px;
        background-size: 10%;
    }

    .button__destinations:hover, .button__destinations:focus, .button__destinations:active {
        background-image: url(../images/mobile/arrow-right.svg);
    }

    .background__bottom {
        background-image: url(../images/mobile/background-bottom.jpg);
        /* height: 693px; */
    }

    .stories__description {
        padding-left: 10px;
    }

    /* .stories__title {
        margin-bottom: 10px;
    } */

    /* .stories__description__title {
        padding-top: 5px;
    } */

    .stories__description__text {
        width: 100%;
        max-height: 86px;
        overflow: hidden;
    }

    /* .button__destinations {
        background-position: 15%;
    } */ 

}
 
/* =====Media end===== */